---
layout: page
title: ARE YOU THE ONE?
---
<!-- careers -->
<section class="section">
  <div class="container">
    <div class="row animatedParent animateOnce">
      <div class="col-md-5 mr-4 text-right animated fadeInUp delay-250">
        <p class="font-tertiary paragraph-lg text-dark text-left-title">Ready. Apply. Go!</p>
      </div>
      <div class="col-md-5 ml-4 text-left animated fadeInUp delay-250">
        <p class="font-secondary paragraph-lg text-dark">We are on the lookout for those who are always up for a challenge. We want team players who want to grow with us.</p>
        <p class="font-secondary paragraph-lg text-dark">Click below if that’s you.</p>
        <a class="button btn btn-primary" href="https://apply.nchaincrea.com/">APPLY FOR A POSITION</a>
      </div>
    </div>
    </div>
  </div>
</section>

<!-- /careers -->

<section class="section-grid">
<div class="container container-grid">
<div class="notice">
  <p>Sorry! A browser with GRID <a href="http://caniuse.com/#feat=css-grid">support</a> is required to view this pen.</p>
</div>
<div class="grid debug">
  <div class="cell cell--fig1 cell--fig4"></div>
  <div class="cell">
  <div class="cells-titles">You are proactive<div class="line-divider">...</div><p class="">You take the initiative and you are driven by actions. You are persistent, no matter what comes your way.</p></div></div>
  <div class="cell"><div class="cells-titles">You are bold<div class="line-divider">...</div><p class="">You live for a better world, and you are not afraid. You are ready to make a statement with your skills.
</p></div></div>
  <div class="cell cell--fig2"><div class="cells-titles">You are a team player<div class="line-divider">...</div><p class="">We work together, we learn together, and we grow together. You respect to be respected, and you believe in the importance of communication.
</p></div></div>
  <div class="cell cell--fig5"></div>
</div>
</div>
</section>
{% include testimonial-section.html %}
{% include benefits.html %}
<section class="section">
  <div class="container">
    <div class="row animatedParent animateOnce">
      <div class="col-md-5 mr-4 text-right animated fadeInUp delay-250">
        <p class="font-tertiary paragraph-lg text-dark text-left-title">Do you want to see how good you are?</p>
      </div>
      <div class="col-md-5 ml-4 col-sm-6 text-left animated fadeInUp delay-250">
        <p class="font-secondary paragraph-md text-dark">You are most welcome to apply.</p>
        <a class="button btn btn-primary" href="https://apply.nchaincrea.com/">APPLY FOR A POSITION</a>
      </div>
    </div>
    </div>
  </div>
</section>
<section class="page-next bg-btn-next-2 position-relative">
    <div class="container">
      <div class="row justify-content-around">
        <div class="col-lg-12 text-center">
          <h2><a href="/culture.html">
          GO TO CULTURE
          </a>
        </h2>
        </div>
      </div>
    </div>
  </section>
<!-- /careers -->

