.page-title-alt{
  padding: 350px 0 70px;
}

.text-left-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 40px;

  @media (max-width: 575px) {
    text-align: left;
  }
}

.border-thick{
  border: 10px solid;
}

.drag-lg-top{
  margin-top: -230px;
  @include desktop {
    margin-top: 0;
  }
}

.page-title-alt{
  .container{
    position: relative;
    z-index: 1;
  }
}

.about-us {
    background: url('../images/backgrounds/background-about.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top -120px right 0;
    height: auto;
    position: relative;
    padding: 120px 0;
}

.about-us {
  @media (max-width: 575px) {
    background-position: -250px 0;
  }
}

.about-us:before {
  content: "";
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
  background: rgba(0,0,0,.5);
}

.our-services {
    background: url('../images/backgrounds/black-white.png');
    background-size: cover;
    height: auto;
    position: relative;
}

.our-services:before {
  content: "";
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
  background: rgba(0,0,0,.2);
}

.services-items {
  text-align: left;
  @include desktop {
    text-align: center;
  }

}