

/* testimonial */
.testimonial-content {
  strong {
    color: $secondary-color;
    font-weight: normal;
  }

  h4 {
  	padding-top: 20px;
    font-weight: 600;
  }
}

.testimonial-bg-shapes {
  .container {
    position: relative;
    z-index: 1;
  }
}

/* /testimonial */
