<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="1.00:00:00" />
        </staticContent>
		<rewrite>
			<rules>
				<rule name="Redirect to HTTPS except /public/ folder" enabled="true" stopProcessing="true">
					<match url="(.*)" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false">
						<add input="{REQUEST_URI}" pattern="^/Public/$.*" negate="true" ignoreCase="true"/>
						<add input="{HTTPS}" pattern="off" />
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Found" />
				</rule>
			</rules>
		</rewrite>
    </system.webServer>
</configuration>
