<!-- about -->
<section class="about-us section">
  <div class="container">
    <div class="row animatedParent animateOnce">
      <div class="col-md-5 mr-4 text-right animated fadeInUp delay-250">
        <p class="font-tertiary paragraph-lg text-light text-left-title">Innovation. Delivery. Impact.</p>
      </div>
      <div class="col-md-5 ml-4 text-left animated fadeInUp delay-250">
        <p class="font-secondary paragraph-lg text-light">We are an expert software development team. We are game changers, always growing in numbers and accumulated knowledge.
</br></br>
We develop and deliver custom software solutions that work.</p>
      </div>
    </div>
    </div>
  </div>
  <div class="container">
    <div class="row animatedParent animateOnce">
      
    </div>
</section>
<!-- /about -->