<!-- about -->
<div class="full-circle"></div>
<section class="about-us section">
  <div class="container">
    <div class="row animatedParent animateOnce">
      <div class="col-md-5 text-right animated fadeInUp delay-250">
        <p class="font-tertiary paragraph-lg text-light text-left-title">Innovation. Impact.</p>
      </div>
    </div>
  <div class="space-50"></div>
  <div class="space-50"></div>
    <div class="row animatedParent animateOnce">
      <div class="col-md-5 text-left"></div>
      <div class="col-md-4 text-left animated fadeInUp delay-500">
        <p class="font-secondary paragraph-lg text-light">We are an expert software development team. We are game changers, always growing in numbers and accumulated knowledge.
</br></br>
We are a company that delivers. Our biggest motivation are large scale enterprise level projects, full of technical challenges and complexity.</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row animatedParent animateOnce">
      
    </div>

<div class="full-circle"></div>
</section>
<!-- /about -->