<section class="section our-services">
  <div class="container">
    <div class="row animatedParent animateOnce">
      <div class="row animatedParent animateOnce">
      <div class="col-md-5 mr-4 text-right animated fadeInUp delay-250">
        <p class="font-tertiary paragraph-lg text-light text-left-title">Benefits</p>
      </div>
      <div class="col-md-5 ml-4 text-left animated fadeInUp delay-500">
          <p class="font-secondary paragraph-lg text-light">At CREA you will be able to prosper in personal life and career in a friendly environment with a great team.</p>
        </div>
    </div>
  </div>
  </div>
</section>
<section>
<div class="row">
  <div class="col-md-6 col-sm-12 balance" id="balance-img">
    <img src="{{ site.baseurl }}/assets/images/backgrounds/balance.png" alt="We care for work & life balance of our employees">
  </div>
   <div class="col-md-6 col-sm-12 balance" id="balance-copy">
    <div class="copy">
    <h4 class="text-dark numbers">1</h4>
    <h2>Work & life balance</h2>
          <p class="text-dark"><br>Your happiness is important to us. Besides interesting and challenging projects we greatly value family and personal time.</p>
  </div></div>
  <div class="col-md-6 col-sm-12 balance" id="growth-copy">
    <div class="copy text-right">
    <h4 class="text-dark numbers">2</h4>
    <h2>Career growth</h2>
          <p class="text-dark"><br>We offer work on international projects with large scale impact, access to expert knowledge worldwide, use of new and innovative technology.</p>
  </div></div>
  <div class="col-md-6 col-sm-12 balance" id="growth-img">
    <img src="{{ site.baseurl }}/assets/images/backgrounds/grow.png" alt="At CREA you will grow personally and career-wise">
  </div>
  <div class="col-md-6 col-sm-12 balance" id="health-img">
    <img src="{{ site.baseurl }}/assets/images/backgrounds/health.png" alt="We care for our employees health">
  </div>
  <div class="col-md-6 col-sm-12 balance" id="health-copy">
    <div class="copy">
    <h4 class="text-dark numbers">3</h4>
    <h2>Health & well-being</h2>
          <p class="text-dark"><br>We offer organic fruit and veggies to keep you focused throughout the day, while free gym membership is available for you to stay energized.</p>
  </div></div>
</div>
</section>
<section class="section our-services">
  <div class="container">
    <div class="row animatedParent animateOnce">
      <div class="col-md-5 text-right animated fadeInUp delay-250">
        <p class="font-tertiary paragraph-lg text-light text-left-title">... and more</p>
      </div>
    </div>
      <div class="space-50"></div>
    <div class="row animatedParent animateOnce">
      <div class="col-md-2 text-left"></div>
     <div class="col-md-3 col-sm-4 animated fadeInUp">
          <h4 class="text-light numbers">4</h4>
          <h4 class="text-light">GREAT HQ</h4><br><p class="text-light">New, spacious, creativity boosting HeadQuarters, with a balcony exit from every office. Excellent access from all directions and plenty of free parking spaces for your space ships.</p>
        </div>
        <div class="col-md-3 col-sm-4 animated fadeInUp delay-250">
          <h4 class="text-light numbers">5</h4>
         <h4 class="text-light">AMAZING TEAM</h4><br><p class="text-light">We are a diverse group of talented people, always supportive of each other and always pushing forward. A team that is always ready to help and step up.</p>
        </div>
        <div class="col-md-3 col-sm-4 animated fadeInUp delay-500">
          <h4 class="text-light numbers">6</h4>
          <h4 class="text-light">DIVERSE PROJECTS</h4><br><p class="text-light">Work on interesting and always evolving projects that will challenge you every single day and push your skills to the next level.</p>
        </div>
    </div>
  </div>
  </div>
</section>