{% if site.data.settings.careers %}
<!-- careers -->

<section class="section">
  <div class="container">
    <div class="row animatedParent animateOnce">
      <div class="col-md-5 mr-4 text-right animated fadeInUp delay-250">
        <p class="font-tertiary paragraph-lg text-dark text-left-title">Ready. Apply. Go!</p>
      </div>
      <div class="col-md-5 ml-4 col-sm-6 text-left animated fadeInUp delay-250">
        <p class="font-secondary paragraph-lg text-dark">We are on the lookout for those who are always up for a challenge. We want team players who want to grow with us.</p>
        <p class="font-secondary paragraph-md text-dark">Click below if that’s you.</p>
        <a class="button btn btn-primary" href="https://apply.nchaincrea.com/">APPLY FOR A POSITION</a>
      </div>
    </div>
    </div>
  </div>
</section>

<!-- /careers -->
{% endif %}


