{% if site.data.settings.careers %}
<!-- careers -->

<section class="section">
  <div class="container">
    <div class="row">
    <div class="full-circle-2 secondary-color"></div>
    </div>
    <div class="row animatedParent animateOnce">
      <div class="col-md-5 text-right animated fadeInUp delay-250">
        <p class="font-tertiary paragraph-lg text-dark text-left-title">Are you the one?</p>
      </div>
    </div>
    <div class="space-50"></div>
    <div class="space-50"></div>
    <div class="row animatedParent animateOnce">
      <div class="col-md-5 text-left"></div>
      <div class="col-md-4 text-left animated fadeInUp delay-500">
        <p class="font-secondary paragraph-lg text-dark">We are on a lookout for those who are not affraid of a challenge, and also not afraid to ask for help. We are looking for team players that will help us grow - just as much as we'll help them grow.</p>
      </div>
    </div>
    <div class="space-50"></div>
    <div class="row animatedParent animateOnce">
      <div class="col-md-5 text-left"></div>
      <div class="col-md-4 text-left animated fadeInUp delay-500">
        <p class="font-secondary paragraph-lg text-dark">Click below if you think your're the one.</p>
      </div>
      <div class="col-md-5 text-left"></div>
      <div class="col-md-4 text-left animated fadeInUp delay-1000">
        <button type="submit" class="btn btn-primary">Yes, I want to apply</button>
      </div>
    </div>
  </div>
</section>
<!-- /careers -->
{% endif %}


