<section class="section">
  <div class="container">
    <div class="row animatedParent animateOnce">
     <div class="col-md-5 mr-4 text-right animated fadeInUp">
        <p class="font-tertiary paragraph-lg text-dark text-left-title">Stronger together</p>
      </div>
      <div class="col-md-5 ml-4 text-left animated fadeInUp delay-250">
        <p class="font-secondary paragraph-lg text-dark">We appreciate long-term relationships. We are not afraid of commitment and our relationships are going strong, lasting 10+ years.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="page-next bg-btn-next-2 position-relative">
    <div class="container">
      <div class="row justify-content-around">
        <div class="col-lg-12 text-center">
          <h2><a href="/careers.html">
          GO TO CAREERS
          </a>
        </h2>
        </div>
      </div>
    </div>
  </section>


