<section class="section">
  <div class="container">
    <div class="row animatedParent animateOnce">
     <div class="col-md-5 text-right animated fadeInUp delay-250">
        <p class="font-tertiary paragraph-lg text-dark text-left-title">HAPPY TOGETHER</p>
      </div>
    </div>
    <div class="space-50"></div>
      <div class="space-50"></div>
    <div class="row animatedParent animateOnce">
      <div class="col-md-5 text-left"></div>
        <div class="col-md-4 text-left animated fadeInUp delay-500">
        <p class="font-secondary paragraph-lg text-dark">We love long-term relationships. We are not affraid of a commitment.</p>
      </div>
      </div>
  </div>
</div>
</section>

