<!-- footer -->
<footer class="bg-footer footer-section">
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-2 contact-info">
          <!-- social icon -->
          <ul class="list-unstyled position-relative  ml-5 mt-1 zindex-1 social-icons padding-20">
            {% for social in site.data.settings.social %}
            <li class="mb-3"><a class="text-white" href="{{ social.link }}"><i class="{{ social.icon }}" aria-label="Visit our social media pages"></i></a></li>
            {% endfor %}
          </ul>
          <!-- /social icon -->

        </div>
        <div class="col-md-4 contact-info">
          <a class="twitter-timeline" data-lang="en" data-width="400" data-height="300" href="https://twitter.com/crea_official?ref_src=twsrc%5Etfw">Tweets by crea_official</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
        <div class="col-md-4 contact-info">
          <div class="info">
          <i class="ti-email footer-icons"></i>
          <a href="mailto:info@crea.si"><p class="text-white paragraph-lg font-secondary">{{ site.data.settings.email }}</p></a>
          </div>
          <div class="info">
          <i class="ti-location-pin footer-icons"></i>
          <p class="text-white paragraph-lg font-secondary">{{ site.data.settings.address }}</p> 
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="col-lg-12 text-center bg-light">
          <div class="btn btn-tertiary-b">
          <p>©2019 CREA. All rights reserved</p>
<a href="/privacy-policy.html">
          Privacy policy</a>
          </div>
        </div>
  </footer>
<!-- /footer -->