<!-- hero area -->
<section class="bg-primary">
	<div class="mandala">
		<div id="large-header" class="large-header">
			<canvas id="demo-canvas"></canvas>
			
			<h1 class="main-title">CREA <span class="thin">CONNECTED</span><p class="paragraph-lg text-dark">creating 
  <span
     class="txt-rotate"
     data-period="2000"
     data-rotate='[ "a better world.", "your future.", "new frontiers.", "innovations.", "IT" ]'></span>
</p></h1>
			
		</div></div>
	</div>
      </div>
</section>
<!-- /hero area -->