<!-- hero area -->
<section>
	<div class="mandala">
		<div id="large-header" class="large-header">
			<canvas id="demo-canvas"></canvas>
			
			<div class="main-title row">
			<h1 class="col-md-8 capital-section-sum">we dare to create</h1>
			<h2 class="col-md-8 title">We are looking for talented developers to join our team</h2>
			<div class="col-md-4"></div>
			<p class="col-md-6 paragraph-md">Are you a developer, looking for new challenges and a chance to grow?<br> We want team players who want to grow with us.<br> <br> 
			Click below if that’s you.</p>
			<div class="col-md-3"></div>
			<div class="col-md-3"></div><div class="col-md-3">
       		 <a class="button btn btn-primary" href="https://apply.crea.si">APPLY FOR A POSITION</a>
       		 </div>
    		</div>
		</div>	
		</div></div>
	</div>
      </div>
</section>
<!-- /hero area -->