<!-- about -->
<section class="section">
  <div class="container">
    <div class="row animatedParent animateOnce">
      <div class="col-lg-2 text-left animated fadeInRight">
        <p class="font-tertiary paragraph-lg text-dark text-left-title">{{ site.data.settings.mission-title }}</p>
        <!--
        <a href="{{ site.data.settings.blurb-btn-link }}" class="btn btn-primary">{{ site.data.settings.blurb-btn-name }}</a> 
      -->
    </div>
    <div class="col-lg-8 text-left animated fadeInRight delay-250">
      <p class="font-secondary paragraph-lg text-dark">{{ site.data.settings.mission }}</p>
        <!--
        <a href="{{ site.data.settings.blurb-btn-link }}" class="btn btn-primary">{{ site.data.settings.blurb-btn-name }}</a> 
      -->
    </div>
  </div>
</div>
</section>
<!-- /about -->