<!-- blog -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 text-right">
        <p class="font-tertiary paragraph-lg text-dark text-left-title">Where we've been?</br>Where we're going?</p>
      </div>
    </div>
    <div class="space-50"></div>
    <div class="space-50"></div>
     <div class="row animatedParent animateOnce">
        <div class="col-md-5 text-left"><script src="https://apps.elfsight.com/p/platform.js" defer></script>
<div class="elfsight-app-ffa50c10-cabf-43e8-b9bc-c7fc3e85c60b"></div></div>
        <div class="col-md-4 text-left animated fadeInUp delay-500">
          <p class="font-secondary paragraph-lg text-dark">Napišeno datume dogodkov, konferenc etc. </p><div class="space-50"></div><p class="font-secondary paragraph-lg text-dark">Morda linke na kakšne blog poste ali novice?</p>

        </div>
      </div>
  </div>
</section>
<!-- /blog --> 
