<!-- blog -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 text-right">
        <p class="font-tertiary paragraph-lg text-dark text-left-title">Where and when?</p>
      </div>
    </div>
    <div class="space-50"></div>
    <div class="space-50"></div>
     <div class="row animatedParent animateOnce">
        <div class="col-md-5 text-right"><a class="twitter-timeline" data-width="500" data-height="600" data-link-color="#E81C4F" href="https://twitter.com/crea_HQ?ref_src=twsrc%5Etfw">Tweets by crea_HQ</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></div>
        <div class="col-md-4 text-left animated fadeInUp delay-500">
          <p class="font-secondary paragraph-lg text-dark">Napišeno datume dogodkov, konferenc etc. </p><div class="space-50"></div><p class="font-secondary paragraph-lg text-dark">Morda linke na kakšne blog poste ali novice?</p>

        </div>
      </div>
  </div>
</section>
<!-- /blog --> 
