<!-- latest news -->
<section class="news-section section">
  <div class="container">
    <div class="row animatedParent animateOnce">
      <div class="col-md-5 mr-4 text-right animated fadeInUp delay-250">
        <p class="font-tertiary paragraph-lg text-light text-left-title">Latest news: nChain has acquired CREA</p>
      </div>
      <div class="col-md-5 ml-4 text-left animated fadeInUp delay-250">
        <p class="font-secondary paragraph-md text-light">We are proud and excited to be part of nChain family.
</br></br>
As before, we will allow the results of our work to speak  for of us in future as well.</p>
<a class="btn btn-secondary-light" href="../2020/04/17/nchain-has-acquired-crea/"><img src="../assets/images/icons/keep-reading.svg"></img>READ MORE</a>
      </div>
        </div>
    </div>
    </div>
  </div>
</section>
<!-- /latest news -->