<!-- services -->
<section class="section our-services">
  <div class="container">
    <div class="row animatedParent animateOnce">
      <div class="col-md-5 text-right animated fadeInUp delay-250">
        <p class="font-tertiary paragraph-lg text-light text-left-title">What we do best?</p>
      </div>
    </div>
      <div class="space-50"></div>
      <div class="space-50"></div>
      <div class="row animatedParent animateOnce">
        <div class="col-md-5 text-left"></div>
        <div class="col-md-4 text-left animated fadeInUp delay-500">
          <p class="font-secondary paragraph-lg text-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        </div>
      </div>
      <div class="space-50"></div>
      <div class="space-50"></div>
      <div class="row animatedParent animateOnce">
        <div class="col-md-5 text-left"></div>
        <div class="col-md-2 col-sm-4 animated fadeInUp delay-750">
          <h4 class="text-light numbers">1</h4>
          <p class="text-light numbered"><span class="menu__item-name">Analysis</span></br>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        <div class="col-md-2 col-sm-4 animated fadeInUp delay-1000">
          <h4 class="text-light numbers">2</h4>
          <p class="text-light numbered"><span class="menu__item-name">Strategy</span></br>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
      </div>
    <div class="space-50"></div>
    <div class="row animatedParent animateOnce">
      <div class="col-md-5 text-left"></div>
      <div class="col-md-2 col-sm-4 animated fadeInUp delay-1250">
          <h4 class="text-light numbers">3</h4>
          <p class="text-light numbered"><span class="menu__item-name">Design</span></br>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
     <div class="col-md-2 col-sm-4 animated fadeInUp delay-1500">
          <h4 class="text-light numbers">4</h4>
          <p class="text-light numbered"><span class="menu__item-name">Development</span></br>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
    </div>
  </div>
</section>
<!-- /services -->
