<!-- services -->
<section class="section our-services">
  <div class="container">
    <div class="row animatedParent animateOnce">
      <div class="col-md-5 mr-4 text-right animated fadeInUp delay-250">
        <p class="font-tertiary paragraph-lg text-light text-left-title">Expertise. Excellence.</p>
      </div>
      <div class="col-md-5 ml-4 text-left animated fadeInUp delay-500">
          <p class="font-secondary paragraph-lg text-light">Our knowledge and expertise drive our success. We creatively bring together different areas we excel at.</p>
        </div>
    </div>
      </div>
      <div class="space-50"></div>
      <div class="row animatedParent animateOnce">
        <div class="col-md-3">
        </div>
                  <div class="col-md-2 col-sm-5 animated fadeInUp delay-250">
                    <h4 class="text-light numbers">1</h4>
                      <p class="text-light numbered">BITCOIN<br>TECHNOLOGIES</p>
                  </div>
                  <div class="col-md-2 col-sm-5 animated fadeInUp delay-250">
                    <h4 class="text-light numbers">2</h4>
                    <p class="text-light numbered">BUSINESS<br>SOLUTIONS</p>
                  </div>

                <div class="col-md-2 col-sm-5 animated fadeInUp delay-500">
                    <h4 class="text-light numbers">3</h4>
                    <p class="text-light numbered">BUSINESS<br>ANALYSIS</p>
                  </div>
               <div class="col-md-2 col-sm-5 animated fadeInUp delay-500">
                    <h4 class="text-light numbers">4</h4>
                    <p class="text-light numbered">PROJECT<br>MANAGEMENT</p>
                  </div>
        </div>
  </div>
</section>
<!-- /services -->
