
<!-- The Timeline -->

<ul class="timeline">
	<!-- Item registration -->
	<li>
		<div class="direction-l">
			<div class="flag-wrapper">
				<span class="flag">9:00 - REGISTRATION </span>
			</div>
		</div>
	</li>
	<!-- Item begin -->
	<li>
		<div class="direction-l">
			<div class="flag-wrapper">
				<span class="flag">10:00 - CONFERENCE BEGINS</span>
			</div>
		</div>
	</li>
	<!-- talk 1 -->
	<li>
		<div class="direction-r">
			<div class="flag-wrapper">
				<span class="time-wrapper"><span class="time">CREA & Bitcoin SV:  Why We Choose Satoshi Vision</span></span>
			</div>
			<div class="desc">- Roman Puhek, CEO at CREA<br>- Matej Trampuš, CTO at CREA</div>
		</div>
	</li>
	<!-- Talk 2 -->
	<li>
		<div class="space-25"></div>
		<div class="direction-r">
			<div class="flag-wrapper">
				<span class="time-wrapper"><span class="time">What is Bitcoin SV? Why Bitcoin SV for Enterprises?</span></span>
			</div>
			<div class="desc">- Steve Shadders, CTO at nChain; Technical director at Bitcoin SV Node project</div>
		</div>
	</li>
	<li>
		<div class="space-25"></div>
		<div class="direction-r">
			<div class="flag-wrapper">
				<span class="time-wrapper"><span class="time">Genesis & Teranode: How Bitcoin SV Node Software is Built for Business</span></span>
			</div>
			<div class="desc">- Daniel Connolly, Lead Developer, Bitcoin SV Node project</div>
		</div>
	</li>
	<!-- Talk 2 -->
	<li>
		<div class="space-25"></div>
		<div class="direction-r">
			<div class="flag-wrapper">
				<span class="time-wrapper"><span class="time">nChain: Creating Enterprise Solutions with the BSV Blockchain</span></span>
			</div>
			<div class="desc">- Steve Shadders, CTO at nChain; Technical director at Bitcoin SV Node project</div>
		</div>
	</li>
	<!-- Talk 3 -->
	<li>
		<div class="space-25"></div>
		<div class="direction-r">
			<div class="flag-wrapper">
				<span class="time-wrapper"><span class="time">Metanet & Overlay Networks:  Building a Better Internet with Bitcoin</span></span>
			</div>
			<div class="desc">- Dr. Craig S. Wright, Creator of Bitcoin (Satoshi Nakamoto), Chief Scientist at nChain</div>
		</div>
	</li>
  
	<!-- lunch  -->
	<li>
		<div class="direction-l">
			<div class="flag-wrapper">
				<span class="flag">12:00 - LUNCH</span>
			</div>
		</div>
	</li>
	<!-- continue  -->
	<li>
		<div class="direction-l">
			<div class="flag-wrapper">
				<span class="flag">1:00PM - CONFERENCE CONTINUES</span>
			</div>
		</div>
	</li>
	<!-- talk 4 -->
	<li>
		<div class="direction-r">
			<div class="flag-wrapper">
				<span class="time-wrapper"><span class="time">Building Better Bitcoin Apps with HandCash Connect</span></span>
			</div>
			<div class="desc">- Rafael Jimenez Seibane, CTO at HandCash</div>
		</div>
	</li>
	<!-- talk 5 -->
	<li>
		<div class="direction-r">
			<div class="flag-wrapper">
				<span class="time-wrapper"><span class="time">Tokenized:  A Business-Friendly Token System on BSV</span></span>
			</div>
			<div class="desc">- Andrew Baxter, Managing Director (UK) at Tokenized</div>
		</div>
	</li>
	<!-- talk 6 -->
	<li>
		<div class="direction-r">
			<div class="flag-wrapper">
				<span class="time-wrapper"><span class="time">Online Gaming:  Building the Future on BSV</span></span>
			</div>
			<div class="desc">- Matt Dickson, CEO at BitBoss Corporation</div>
		</div>
	</li>
<!-- break  -->
	<li>
		<div class="direction-l">
			<div class="flag-wrapper">
				<div class="flag-wrapper">
				<span class="flag">AFTERNOON COFFEE BREAK</span>
			</div>
			</div>
		</div>
	</li>
	<!-- talk 8 -->
	<li>
		<div class="direction-r">
			<div class="flag-wrapper">
				<span class="time-wrapper"><span class="time">It’s Time to Build:  Best Practices to Start Developing Enterprise Applications on BSV</span></span>
				<span class="flag-2"><span class="time">Panel Discussion & Open Forum for Audience Questions</span></span>
				<div class="desc">- Andrew Baxter, Managing Director (UK) at Tokenized<br>- Steve Shadders, CTO at nChain; Technical director at Bitcoin SV Node project<br>- Matej Trampuš, CTO at CREA<br>- Dr. Craig S. Wright, Creator of Bitcoin (Satoshi Nakamoto), Chief Scientist at nChain</div>
			</div>
		</div>
	</li>
 
	<!-- end  -->
	<li>
		<div class="direction-l">
			<div class="flag-wrapper">
				<span class="flag">4:00PM - CONFERENCE ENDS</span>
			</div>
		</div>
	</li>
</ul>
