<section>
    
  <div class="timeline">
    <div class="row"><div class="col-md-2 col-sm-4">
        </div>
      <div class="col-md-8 text-left">
        <p class="font-event-bold paragraph-lg text-dark text-left-title">SCHEDULE</p>
      </div>
    </div>
    <div class="space-50"></div>
  <div class="entry">
    <div class="title">
      <h4 class="font-event-bold">9:00 - 10:00 am</h4>
    </div>
    <div class="body">
      <h4 class="font-event-bold">REGISTRATION</h4>
    </div>
  </div>
  <div class="entry">
    <div class="title">
      <h4 class="font-event-bold">10:00 am</h4>
    </div>
    <div class="body">
      <h4 class="font-event-bold">CONFERENCE BEGINS</h4>
      <div class="space-50"></div>
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-11">
        <p class="font-event-bold headline">CREA & Bitcoin SV:  Why We Choose Satoshi Vision</p>
        <p class="font-event-body speaker-names">- Roman Puhek, CEO at CREA</p>
        <p class="font-event-body speaker-names">- Matej Trampuš, CTO at CREA</p>
        <div class="space-50"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-11">
        <p class="font-event-bold headline">What is Bitcoin SV?</p>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
        <p class="font-event-bold sub-headline">Why Bitcoin SV for Enterprises?</p>
        <p class="font-event-body speaker-names">- Steve Shadders, CTO at nChain; Technical director at Bitcoin SV Node project</p>
        <div class="space-25"></div>
        <p class="font-event-bold sub-headline">Genesis & Teranode: How Bitcoin SV Node Software is Built for Business</p>
        <p class="font-event-body speaker-names">- Daniel Connolly, Lead Developer, Bitcoin SV Node project</p>
        <div class="space-50"></div>
        </div>
      </div>

       <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-11">
           <p class="font-event-bold headline">nChain: Creating Enterprise Solutions with the BSV Blockchain</p>
         </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
        <p class="font-event-bold sub-headline">Metanet & Overlay Networks:  Building a Better Internet with Bitcoin</p>
        <p class="font-event-body speaker-names">- Dr. Craig S. Wright, Creator of Bitcoin (Satoshi Nakamoto), Chief Scientist at nChain
        </p>
        <div class="space-25"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="entry">
    <div class="title">
      <h4 class="font-event-bold">12:00 - 1:00 pm</h4>
    </div>
    <div class="body">
      <h4 class="font-event-bold">LUNCH</h4>
    </div>
  </div>
   <div class="entry">
    <div class="title">
      <h4 class="font-event-bold">1:00 - 4:00 pm</h4>
    </div>

    <div class="body">
      <h4 class="font-event-bold">CONFERENCE CONTINUES</h4>
      <div class="space-50"></div>
      <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-11">
      <p class="font-event-bold headline">Building Better Bitcoin Apps with HandCash Connect</p>
      <p class="font-event-body speaker-names">- Rafael Jimenez Seibane, CTO at HandCash</p>
      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-11">
      <div class="space-50"></div>
      <p class="font-event-bold headline">Tokenized:  A Business-Friendly Token System on BSV</p>
      <p class="font-event-body speaker-names">- Andrew Baxter, Managing Director (UK) at Tokenized
      </p>
      <div class="space-50"></div>
      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-11">
      <p class="font-event-bold headline">Online Gaming:  Building the Future on BSV</p>
      <p class="font-event-body speaker-names">- Matt Dickson, CEO at BitBoss Corporation
      </p>
      <div class="space-50"></div>
      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-11">
      <p class="font-event-bold headline">UNISOT Enterprise Blockchain Platform:  Supply Chain Management on BSV</p>
      <p class="font-event-body speaker-names">- Stephan Nilsson, Founder & CEO at UNISOT
      </p>
      </div>
      </div>

      <div class="space-50"></div>

      <h4 class="font-event-bold">AFTERNOON COFFEE BREAK</h4>
      <div class="space-50"></div>

      <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-11">
      <p class="font-event-bold headline">It’s Time to Build:  Best Practices to Start Developing Enterprise Applications on BSV
      </p>
        <p class="font-event-body speaker-names">- Andrew Baxter, Managing Director (UK) at Tokenized
</p>
      <div class="space-50"></div>
      <p class="font-event-bold headline">Panel Discussion & Open Forum for Audience Questions
</p>
        <p class="font-event-body speaker-names">- Stephan Nilsson, Founder & CEO at UNISOT
</p>
<p class="font-event-body speaker-names">- Steve Shadders, CTO at nChain; Technical director at Bitcoin SV Node project</p>
<p class="font-event-body speaker-names">- Matej Trampuš, CTO at CREA</p>
<p class="font-event-body speaker-names">- Dr. Craig S. Wright, Creator of Bitcoin (Satoshi Nakamoto), Chief Scientist at nChain
</p>
      </div>
      </div>
      <div class="space-50"></div>

    </div>

  <div class="entry">
    <div class="title">
      <h4 class="font-event-bold">4:00 pm</h4>
    </div>

    <div class="body">
      <h4 class="font-event-bold">CONFERENCE ENDS</h4>
      <div class="space-25"></div>

  </div>
    </div>
</section>