// Color Variables
$primary-color: #EB4D4B;
$secondary-color: #EB4D4B;
$tertiary-color: #376DFA;
$text-color: #222;
$background-color: #F5F5F5;
$navbar-color: #F5F5F5;
$text-color-dark: #222;
$text-color-light: #fff;
$body-color: #F5F5F5;
$border-color: #c7c7c7;
$black: #000;
$white: #fff;
$gray: #eaeaea;
$light-grey: rgba(34, 34, 34, 0.1);

// $secondary-color: #ff525d;

// Font Variables
$primary-font: 'Rubik', sans-serif;
$secondary-font: 'Rubik', sans-serif;
$tertiary-font: 'Miriam Libre', sans-serif;
$icon-font: 'themify';