---
layout: default
---
<section class="section">
  <div class="container">
    <div class="row animatedParent">
      <div class="col-lg-3 text-left animated fadeInRight">
        <p class="font-tertiary paragraph-lg text-dark text-left-title">WHO ARE WE LOOKING FOR?</p>
      </div>
      <div class="col-lg-9 text-left animated fadeInRight delay-250">
        <p class="font-secondary paragraph-lg text-dark">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
        <!--
        <a href="{{ site.data.settings.blurb-btn-link }}" class="btn btn-primary">{{ site.data.settings.blurb-btn-name }}</a> 
      -->
      </div>
    </div>
  </div>
</section>
